/* Modal */
.ReactModalPortal > div{
    opacity: 0;
    z-index: 999 !important;
    transition: opacity .2s ease-in-out;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999 !important;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    z-index: 999 !important;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
    z-index: 999 !important;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
    transition: opacity .2s ease-in-out;
    width: 100%;
    z-index: 999 !important;
}

.ReactModal__Overlay.ReactModal__Overlay--after-open {
    z-index: 999 !important; /* Usa !important como último recurso */
}

.row.d-flex.date-class {
    margin-left: auto;
    margin-right: auto;
}

.fab{
    border-radius: 100%;
    bottom: 25px;
    font-size: 30px;
    padding: 25px;
    padding-top: 24px;
    padding-bottom: 24px;
    position: fixed;
    right: 25px;
}

.fab-danger{
    border-radius: 100%;
    bottom: 25px;
    font-size: 20px;
    position: fixed;
    left: 25px;
    width: 50px;
    height: 50px;
}

button.btn.btn-primary.fab.addnew:hover{
    background-color: #3498db;
    border: 1px solid #3498db;
    transition: ease-in-out 0.3s;
    transform: scale(1.1);
}

span.closesize i.fas.fa-times {
    font-size: 24px;
}

span.closesize i.fas.fa-times:hover {
    color: #2189f0;
    cursor: pointer;
}